@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

body, html {
  color: #444444;
  font-family: 'Comfortaa-Regular', cursive;
  overflow: hidden !important; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.container-page {
  padding: 0 1%; }

.container, section, header, footer, header .about, .tec, .portfolio-list, .portfolio-list__item, .portfolio-list__item .portfolio-list__item--caption {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

section, header, footer {
  width: 100%;
  height: auto;
  position: relative; }

.topic {
  width: 100%;
  margin: 15px auto 25px;
  font-size: 44px;
  text-align: center; }

section > .container, section > section, section > header, section > footer, header section > .about, section > .tec, section > .portfolio-list, section > .portfolio-list__item, .portfolio-list__item section > .portfolio-list__item--caption {
  padding: 0 2%; }

@font-face {
  font-family: 'Ruslan Display';
  src: url("../fonts/RuslanDisplay/RuslanDisplay.eot");
  src: local("☺"), url("../fonts/RuslanDisplay/RuslanDisplay.woff") format("woff"), url("../fonts/RuslanDisplay/RuslanDisplay.ttf") format("truetype"), url("../fonts/RuslanDisplay/RuslanDisplay.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Comfortaa-Regular';
  src: url("../fonts/Comfortaa-Regular/Comfortaa-Regular.eot");
  src: local("☺"), url("../fonts/Comfortaa-Regular/Comfortaa-Regular.woff") format("woff"), url("../fonts/Comfortaa-Regular/Comfortaa-Regular.ttf") format("truetype"), url("../fonts/Comfortaa-Regular/Comfortaa-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Comfortaa-Bold';
  src: url("../fonts/Comfortaa-Bold/Comfortaa-Bold.eot");
  src: local("☺"), url("../fonts/Comfortaa-Bold/Comfortaa-Bold.woff") format("woff"), url("../fonts/Comfortaa-Bold/Comfortaa-Bold.ttf") format("truetype"), url("../fonts/Comfortaa-Bold/Comfortaa-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.navBurger {
  position: relative;
  right: 20px;
  top: 0;
  cursor: pointer;
  background: #111;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .navBurger:before, .navBurger:after {
    content: "";
    position: absolute;
    background: #111;
    height: 2px;
    width: 100%;
    right: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .navBurger:before {
    top: -10px; }
  .navBurger:after {
    bottom: -10px;
    width: 90%; }
  .navBurger.active {
    background: transparent;
    background-clip: content-box; }
  .navBurger.active:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    top: 0;
    background: #eee;
    width: 110%; }
  .navBurger.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background: #eee;
    width: 110%; }

.mob-menu {
  position: fixed;
  background: #2c3e50;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0);
  transform: scale(0);
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden; }
  .mob-menu.open {
    opacity: 0.99;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1); }
    .mob-menu.open li {
      display: block;
      -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
      animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
      -webkit-transform: rotate(-7deg);
      transform: rotate(-7deg);
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom; }
      .mob-menu.open li:nth-of-type(2) {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s; }
      .mob-menu.open li:nth-of-type(3) {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s; }
      .mob-menu.open li:nth-of-type(4) {
        -webkit-animation-delay: 0.7s;
        animation-delay: 0.7s; }
      .mob-menu.open li:nth-of-type(5) {
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s; }

.overlayMenu {
  position: absolute;
  text-align: right;
  right: 10vw;
  top: 10vh; }
  .overlayMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%; }
    .overlayMenu ul li {
      display: block;
      position: relative;
      opacity: 0;
      width: 100%; }
      .overlayMenu ul li a {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.09);
        color: #fff;
        text-decoration: none;
        font-size: 30px;
        padding: 10px 40px 10px 40px;
        margin: 5px 0;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
        .overlayMenu ul li a:hover, .overlayMenu ul li a:active, .overlayMenu ul li a:focus {
          -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
          padding-left: 80px;
          outline: 1px solid rgba(255, 255, 255, 0.3);
          background: rgba(255, 255, 255, 0.03); }

.locked {
  overflow: hidden; }

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px; }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px; }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }

.controlArrow.prev {
  left: 50px; }

.controlArrow.next {
  right: 50px; }

#infoMenu li a {
  color: #fff; }

/* Fullpage configuration */
.section, .slide {
  top: 0;
  left: 0;
  visibility: visible;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/* Parallax container configuration */
.container, section, header, footer, header .about, .tec, .portfolio-list, .portfolio-list__item, .portfolio-list__item .portfolio-list__item--caption {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; }

/* Parallax container background */
#section-about {
  background-image: url("../img/DSC1184-min.jpg"); }

#section-services {
  background-image: url("../img/_DSC1023-min.jpg"); }

#section-portfolio {
  background-image: url("../img/_DSC1059-min.jpg"); }

#section-contacts {
  background-image: url("../img/_DSC1056-min.jpg"); }

header {
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  header .container, header section, header header, header footer, header .about, header .tec, header .portfolio-list, header .portfolio-list__item, header .portfolio-list__item .portfolio-list__item--caption, .portfolio-list__item header .portfolio-list__item--caption {
    width: 100%;
    height: 100%;
    position: relative; }
  header .about {
    font-size: 4vw;
    color: white;
    text-shadow: 0 0 10px #000, 0 0 20px #000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.top-nav {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  color: #FFFFFF;
  padding: 0 2%;
  position: absolute;
  top: 0;
  z-index: 1000;
  -webkit-filter: drop-shadow(0 0 1px #444);
  filter: drop-shadow(0 0 1px #444);
  margin-top: 1vw; }
  .top-nav .logo {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .top-nav .logo a {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .top-nav .logo__img {
      width: 15%;
      height: auto;
      border-radius: 50%;
      overflow: hidden;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      .top-nav .logo__img img {
        width: calc(100% + 20%);
        height: auto; }
    .top-nav .logo h1 {
      width: 77%;
      height: 100%;
      max-width: 498px;
      font: 30px "Ruslan Display", cursive;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      color: #FFFFFF;
      margin: 0; }
      .top-nav .logo h1 .logo-name, .top-nav .logo h1 .logo-pro {
        width: 50%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: inherit;
        -ms-flex-align: inherit;
        align-items: inherit; }
      .top-nav .logo h1 .logo-name {
        text-align: right; }
        .top-nav .logo h1 .logo-name:after {
          content: '';
          width: 5px;
          height: 70px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          background-color: #FFFFFF;
          margin: 0 15px; }
  .top-nav nav {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .top-nav nav ul {
      width: 100%;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
      font-size: 27px; }
      .top-nav nav ul li {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        overflow: hidden;
        padding-bottom: 5px; }
        .top-nav nav ul li a {
          text-decoration: none;
          color: #FFFFFF; }
          .top-nav nav ul li a:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 50%;
            right: 50%;
            bottom: 0;
            background: #2098d1;
            height: 3px;
            -webkit-transition: all 0.3s linear;
            transition: all 0.3s linear; }
          .top-nav nav ul li a:hover:before {
            left: 0;
            right: 0; }
          .top-nav nav ul li a.active:before {
            left: 0;
            right: 0; }

#section-services {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #section-services .item {
    -webkit-box-flex: 300px;
    -ms-flex: 300px;
    flex: 300px;
    min-height: 180px;
    margin: 1%;
    text-align: center;
    padding: 15px;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    background: snow;
    border: 2px solid lightgray;
    border-radius: 10px;
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    #section-services .item h3 {
      margin-bottom: 15px; }

.tec {
  width: 100%; }
  .tec img {
    width: 7.5%;
    max-width: 125px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    margin: 50px 0.5%; }
    .tec img:hover, .tec img .tec--active {
      -webkit-filter: grayscale(0%) drop-shadow(0 10px 15px blue);
      filter: grayscale(0%) drop-shadow(0 10px 15px blue);
      -webkit-transform: scale(1.2) translateY(-10px);
      transform: scale(1.2) translateY(-10px);
      margin: 50px 2%; }

.portfolio-list {
  margin: 0 auto; }

.portfolio-list__item {
  -webkit-box-flex: 400px;
  -ms-flex: 400px;
  flex: 400px;
  min-height: 220px;
  margin: 2% 1%;
  height: 30vh;
  padding: 0;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-box-shadow: 0 0 30px grey;
  box-shadow: 0 0 30px grey;
  position: relative; }
  .portfolio-list__item img {
    width: 100%;
    height: auto;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    position: absolute;
    top: 0; }
  .portfolio-list__item .portfolio-list__item--caption {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s; }
    .portfolio-list__item .portfolio-list__item--caption h3 {
      width: 100%;
      -webkit-transform: translateY(-30vh);
      transform: translateY(-30vh);
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      position: relative; }
    .portfolio-list__item .portfolio-list__item--caption p {
      width: 100%;
      -webkit-transform: translateY(30vh);
      transform: translateY(30vh);
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
      position: relative; }
  .portfolio-list__item:hover .portfolio-list__item--caption {
    background: rgba(0, 0, 0, 0.5); }
  .portfolio-list__item:hover img {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .portfolio-list__item:hover .portfolio-list__item--caption h3 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    border-bottom: 1px solid white; }
  .portfolio-list__item:hover .portfolio-list__item--caption p {
    -webkit-transform: translateY(-5vh);
    transform: translateY(-5vh); }

.btn {
  text-decoration: none;
  padding: 15px 50px;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  position: relative;
  background: #444444;
  color: white;
  border: 2px solid lightgray;
  border-radius: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-box-shadow: 5px 5px 20px rgba(51, 51, 51, 0.3), -5px -5px 20px rgba(51, 51, 51, 0.3), 5px -5px 20px rgba(51, 51, 51, 0.3), -5px 5px 20px rgba(51, 51, 51, 0.3);
  box-shadow: 5px 5px 20px rgba(51, 51, 51, 0.3), -5px -5px 20px rgba(51, 51, 51, 0.3), 5px -5px 20px rgba(51, 51, 51, 0.3), -5px 5px 20px rgba(51, 51, 51, 0.3); }
  .btn:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }

#section-contacts {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #section-contacts .how {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  #section-contacts .email, #section-contacts .skype, #section-contacts .telegram {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 50px;
    font-size: 25px; }
    #section-contacts .email a, #section-contacts .skype a, #section-contacts .telegram a {
      color: #444444; }
      #section-contacts .email a:hover, #section-contacts .skype a:hover, #section-contacts .telegram a:hover {
        text-decoration: underline; }
      #section-contacts .email a:before, #section-contacts .skype a:before, #section-contacts .telegram a:before {
        position: relative;
        content: "";
        width: 40px;
        height: 40px;
        top: 12px;
        right: 15px;
        display: inline-block; }
      #section-contacts .email a span, #section-contacts .skype a span, #section-contacts .telegram a span {
        font-size: 30px;
        font-weight: 900; }
  #section-contacts .email a:before {
    background: url("../img/envelope.svg") no-repeat center; }
  #section-contacts .skype a:before {
    background: url("../img/skype.svg") no-repeat center; }
  #section-contacts .telegram a:before {
    background: url("../img/telegram.svg") no-repeat center; }
  #section-contacts .feedback {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #section-contacts .feedback form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column; }
      #section-contacts .feedback form fieldset {
        border-radius: 10px; }
      #section-contacts .feedback form legend {
        font-size: 30px;
        font-weight: 900;
        padding: 0 15px 20px; }
      #section-contacts .feedback form p {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-bottom: 15px; }
    #section-contacts .feedback label {
      width: 100%;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 5px; }
    #section-contacts .feedback input, #section-contacts .feedback textarea {
      width: 100%;
      padding: 10px 20px;
      color: #444;
      font-size: 17px;
      letter-spacing: 1px;
      background: white;
      border: 2px solid lightgray;
      border-radius: 10px; }
    #section-contacts .feedback .submit {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    #section-contacts .feedback .btn-submit {
      width: 50%;
      margin: 30px auto 0;
      padding: 15px 50px;
      font-size: 20px;
      background: #444444;
      color: white; }

footer {
  width: 100%;
  height: 60px;
  -webkit-box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5); }
  footer .topic {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important; }

@media (max-width: 768px) {
  .wrap_menu-sticky {
    display: none; } }

@media (min-width: 768px) {
  .navBurger {
    display: none; } }
