// Fonts
@mixin font($f-name, $f-style, $f-weight, $f-url)
	@font-face
		font-family: $f-name
		font-style: $f-style
		font-weight: $f-weight
		src: url($f-url) format('woff')


@include font('Ruslan Display', normal, 400, '../fonts/RuslanDisplay/RuslanDisplay.woff')
@include font('Comfortaa-Regular', normal, 400, '../fonts/Comfortaa-Regular/Comfortaa-Regular.woff')
@include font('Comfortaa-Bold', normal, 900, '../fonts/Comfortaa-Bold/Comfortaa-Bold.woff')
  
  
// @font-face
//   font-family: 'Ruslan Display'
//   src: url('../fonts/RuslanDisplay/RuslanDisplay.eot')
//   src: local('☺'), url('../fonts/RuslanDisplay/RuslanDisplay.woff') format('woff'), url('../fonts/RuslanDisplay/RuslanDisplay.ttf') format('truetype'), url('../fonts/RuslanDisplay/RuslanDisplay.svg') format('svg')
//   font-weight: normal
//   font-style: normal

// @font-face
//   font-family: 'Comfortaa-Regular'
//   src: url('../fonts/Comfortaa-Regular/Comfortaa-Regular.eot')
//   src: local('☺'), url('../fonts/Comfortaa-Regular/Comfortaa-Regular.woff') format('woff'), url('../fonts/Comfortaa-Regular/Comfortaa-Regular.ttf') format('truetype'), url('../fonts/Comfortaa-Regular/Comfortaa-Regular.svg') format('svg')
//   font-weight: normal
//   font-style: normal

// @font-face
//   font-family: 'Comfortaa-Bold'
//   src: url('../fonts/Comfortaa-Bold/Comfortaa-Bold.eot')
//   src: local('☺'), url('../fonts/Comfortaa-Bold/Comfortaa-Bold.woff') format('woff'), url('../fonts/Comfortaa-Bold/Comfortaa-Bold.ttf') format('truetype'), url('../fonts/Comfortaa-Bold/Comfortaa-Bold.svg') format('svg')
//   font-weight: normal
//   font-style: normal


// Libs import
  @import "libs/normalize.css/normalize.css"
// @import "../node_modules/bootstrap/scss/bootstrap-reboot.scss" // Bootstrap Reboot collection
// @import "node_modules/bootstrap/scss/mixins/_breakpoints.scss" // Bootstrap Breakpoints mixin
// @import "bootstrap/scss/bootstrap-grid.scss" // Optional Bootstrap Grid
// @import "bootstrap/scss/utilities/_sizing.scss" // Optional Bootstrap Utilites

@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
// @import "../node_modules/wow.js/css/libs/animate.css"
// @import "../libs/fancybox/dist/jquery.fancybox.css" // fancybox
// @import "../libs/swiper/swiper-bundle.css" //Слайдер Swiper


// Vars
$bg: #ffae4a
$txt: #444

// $accent: orange
  
  
html
  height: 100%
body
  min-height: 100%
  display: flex
  flex-flow: column
main
  flex: 1 0 auto
footer
  flex-shrink: 0
  
*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
//&:focus

body, html, header
  background: $bg
  color: $txt
  font-family: 'Comfortaa-Regular', cursive

ul
  list-style-type: none

a
  text-decoration: none

a, button, .btn, .navBurger
  -webkit-tap-highlight-color: transparent

main
  overflow: hidden
  @media (max-width: 768px)
    padding-top: 60px
    

.container
  width: 100%
  height: auto
  max-width: 1320px
  margin: 0 auto
  display: flex
  justify-content: center
  align-items: center
  flex-wrap: wrap
  padding: 0 15px

section
  width: 100%
  height: auto
  position: relative

.topic
  width: 100%
  margin: 15px auto 35px
  font-size: 44px
  text-align: center
  @media ( max-width: 576px )
    font-size: 25px

section
  margin-bottom: 70px
  &:last-child
    margin-bottom: 0


